/* Actor Detail*/

.actor-container {
  margin: auto;
  padding: 20px;
}
.actor-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.actor-poster {
  width: 300px;
  height: 450px;
  background-color: aqua;
  object-fit: cover;
}
.actor-detail {
  margin-left: 30px;
  flex: 1;
}
.actor-detail h1 {
  margin-top: 0;
  font-weight: 600;
}
.genre {
  color: #888;
}
.cast {
  margin-top: 30px;
}
.cast ul {
  list-style-type: none;
  padding: 0;
}
.cast li {
  margin-bottom: 5px;
}

/*Fling*/

.fling-container {
  flex: 0 0 200px;
  display: flex;
  flex-direction: column;
}
.fling-container p {
  font-weight: 600;
  font-size: 1.2em;
}
.fling {
  flex: 1 0;
  display: flex;
  align-items: center;
}
.film-container {
  flex: 1 0;
  height: 180px;
  position: relative;
}
.film-list {
  display: flex;
  position: relative;
  z-index: 1;
}
.film-list-clone {
  display: inline-block;
  width: 100%;
  margin-right: 20px;
}
.film-fling {
  top: 0;
  position: absolute;
  height: 100%;
  white-space: nowrap;
  overflow-x: visible;
  width: 100%;
  z-index: 2;
}
.film-list img {
  height: 180px;
  flex: 1 0;
}
#back,
#next {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 50px;
}
.film-fling img {
  margin: 1px;
}
/*Footer*/
.footer {
  flex: 0 0 20px;
  padding-left: 10px;
  padding-right: 10px;
}

/*Header*/

#header {
  padding-left: 10px;
  padding-right: 10px;
  flex: 0 0 50px;
  line-height: 50px;
}
.movie-info {
  margin: 0 auto;
  width: 200px;
  line-height: 50px;
  text-align: center;
  clear: none;
  font-weight: 600;
}
label {
  line-height: 20px;
  vertical-align: bottom;
}
.mssv {
  float: left;
}
.switch-container {
  float: right;
}
.switch-inner-container {
  vertical-align: middle;
  display: inline-block;
  height: 20px;
}

/*ImgZoomOut*/

.zoom-out {
  height: 180px;
  flex: 1 0;
  margin: 1px;
  cursor: pointer;
  position: relative;
}
.zoom-out img {
  position: relative;
  z-index: 1;
  width: 100%;
}
.img-info {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center center;
  background-color: #181818;
  width: 100%;
  z-index: 2;
}
.img-info p {
  margin: 0;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 5px;
  padding-top: 0;
}

/*Main Content*/

#main-content {
  flex: 1 0;
  display: flex;
  flex-direction: column;
}
